.Button {
  margin: 7px 0px 7px 0px;
  height: 3rem;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: #7bbaea;
  border: none;
  border-radius: 3px;
  color:#264669;
}

.Button:hover {  
  letter-spacing: 1px;
  background-color: #ff5470;
  transition: all 0.4s ease 0s;
}