h2 {
  color: #ff5470;
  font-size: 36px;
  margin: 12px 0px 12px 0px;
}

h4 {
  color: #ff5470;
}

h3 {
  color: white;
  background-color: #38618c;
  margin: 0px;
  padding: 15px 10px 15px 10px;
}

h4 {
  margin: 10px 0px 10px 0px;
}

@media all and (min-width: 600px) {
  h3 {
    padding: 15px 0px 15px 0px;
  }
}