/* MOBILE VIEW */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7bbaea;
  color: #264669;
}

/* H1 STYLES */

h1 {
  margin: 10px 0px 5px 0px;
}

h1 > a {
  text-decoration: none;
}

h1 > a:visited { color: #264669; }

/* NAV STYLES */

nav {
  margin: 10px 0px 10px 0px;
  text-align: center;
}

nav > a {
  text-decoration: none;
  font-size: 18px;
}

/* nav > a:first-of-type {
  margin-right: 15px;
} */

nav > a:visited { color: #264669; }




/* DESKTOP VIEW */
@media all and (min-width: 600px) {
  .username {
    margin: 5px 25px 0px 0px;
  }
  
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  /* H1 STYLES */

  h1 {
    font-size: 40px;
    margin: 15px 0px 15px 15px;
  }

  h1 > a:hover { 
    letter-spacing: 1px;
    text-decoration: underline;
    transition: all 0.4s ease-in-out;
  }

  /* NAV STYLES */
  nav {
    text-align: right;
  }

  nav > a:first-of-type {
    margin-right: 25px;
  }

  nav > a {
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
  }

  nav > a:hover { 
    letter-spacing: 1px; 
    text-decoration: underline;
    transition: all 0.4s ease-in-out;
  }
}

